.experience__container{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(14rem, 1fr));
    gap:2rem;
}
.experience__container > div{
    background:var(--color-bg-variant);
    padding:1.2rem 2.5rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.TextSubTititle{
    margin-bottom: 0.5rem;
}
.ProyectBox{
    margin-bottom: 1rem;

}

.gridSeparated{
    display: grid;
    gap:1rem;
    /* grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr)); */
}
.SpaceRowAround{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-bottom: 0.5rem;
    align-items: center;
}
.experienceContainerJob {
    border: 0.5px solid var(--color-primary);
    padding: 2rem;
    margin-left: 15rem;
    border-radius: 0.5rem;
    margin-right: 15rem;
}
.experience__container > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience__container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color:var(--color-primary); 
}

.experience__content {
    display: grid;
    grid-template-columns:1fr 1fr;
    row-gap: 1rem;
}
.experience__details{
    display: flex;
    gap:1rem;
}
.experience__details-icon{
    margin-top: 6px;
    color:var(--color-primary)
}

/* =================== MEDIA QUERIES(MEDIUM DEVICES) =============== */
@media screen and (max-width:1024px){
    .experience__container{
        grid-template-columns: 1fr;
      
    }
    .experience__container > div{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    .experience__content{
        padding:1rem;
    }
} 

/* =================== MEDIA QUERIES(SMALL DEVICES) =============== */
@media screen and (max-width:600px){
    .experience__container{
        gap: 1rem;
    }
    .experience__container > div{
        width: 100%;
        padding: 2rem 1rem;
        
    }
    
} 

